{{ define "main" }}
  <!-- Date -->
  <div>
    {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
    {{ .PublishDate.Format $dateFormat }}
  </div>

  <!-- Title -->
  <h1>{{ .Title }}</h1>

  <!-- TOC -->
  {{ if gt (len .TableOfContents) 33 }}
    <h2>目次</h2>
    {{ .TableOfContents }}
  {{ end }}

  <!-- Main -->
  {{ .Content }}
  {{ partial "disqus.html" . }}

  <!-- Tags -->
  {{ $tags := slice }}
  {{ with .Params.tags }}
    <hr>
    <div style="margin-top: 1em;">
      <strong>タグ：</strong>{{ range . }}{{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}<a href="{{ $href }}" class="btn-taglist">{{.}}</a>{{ end }}
    </div>
  {{ end }}

{{ end }}
