{{ define "main" }}
  <!-- Date -->
  <div>
    {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
    {{ .PublishDate.Format $dateFormat }}
  </div>

  <!-- Title -->
  <h1>{{ .Title }}</h1>

  <!-- TOC -->
  {{ if gt (len .TableOfContents) 33 }}
    <h2>目次</h2>
    {{ .TableOfContents }}
  {{ end }}

  <!-- Main -->
  {{ .Content }}
  {{ partial "disqus.html" . }}

  <!-- ofuse, Tags -->
  {{ $tags := slice }}
  {{ with .Params.tags }}
    <hr>
    コメントは<a href="https://ofuse.me/jun0" target="_blank" rel="noopener">こちら</a>にどうぞ！<br>
    <div style="margin-top: 1em;">
      <strong>タグ：</strong>
      {{ range . }}
        {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
        {{ $element := printf "<a href=\"%s\" class='btn-taglist'>%s</a>" $href . }}
        {{ $tags = $tags | append $element }}
      {{ end }}
      {{ delimit $tags "" }}
    </div>
  {{ end }}

{{ end }}
