@property --current-gradient-color1 {
  syntax: "<color>";
  inherits: false;
  initial-value: gray;
}

@property --current-gradient-color2 {
  syntax: "<color>";
  inherits: false;
  initial-value: gray;
}

// Used for startup.js
@property --current-theme-rgb {
  syntax: "<number>+";
  inherits: true;
  initial-value: 255 255 255;
}

// Used for startup.js
@property --theme-particles-rgb {
  syntax: "<number>+";
  inherits: false;
  initial-value: 0 65 106;
}

@property --theme-particles-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #00416A;
}

@property --theme-particles-color2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #E4E6E6;
}

// Used for startup.js
@property --theme-ripples-rgb {
  syntax: "<number>+";
  inherits: false;
  initial-value: 45 167 180;
}

@property --theme-ripples-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #2DA7B4;
}

@property --headings-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #159957;
}

@property --body-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #606c71;
}

@property --body-link-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #1e6bb8;
}

@property --blockquote-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #819198;
}

@property --blockquote-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #dce6f0;
}

@property --code-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #567482;
}

@property --code-bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #f3f6fa;
}

@property --pre-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #dce6f0;
}

@property --table-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #e9ebec;
}

@property --hr-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #eff0f1;
}

@mixin large {
  @media screen and (min-width: 64em) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 42em) and (max-width: 64em) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 42em) {
    @content;
  }
}

/* Fonts (with preload)
1_***: Open Sans
  300_***: Light
  400_***: Regular [Preloaded]
  500_***: Medium
  600_***: SemiBold
  700_***: Bold [Preloaded]
  800_***: ExtraBold
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/1_400_normal.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/1_700_normal.woff2) format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
}

a {
  --current-gradient-color1: rgb(var(--current-theme-rgb) / 0%);
  --current-gradient-color2: rgb(var(--current-theme-rgb) / 0%);
  color: var(--body-link-color);
  background: linear-gradient(135deg, var(--current-gradient-color1), var(--current-gradient-color2));
  border-color: var(--current-gradient-color1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s, box-shadow 0.1s, --current-gradient-color1 0.1s, --current-gradient-color2 0.1s;
  text-decoration: none;

  &:hover {
    --current-gradient-color1: rgb(var(--current-theme-rgb) / 7%);
    --current-gradient-color2: rgb(var(--current-theme-rgb) / 17%);
  }
}

.btn-nav {
  color: rgba(white, 1);
  background: rgba(black, 0.3);
  border-color: rgba(white, 0.6);

  display: inline-block;
  margin-bottom: 1rem;

  + .btn-nav {
    @include large {
      margin-left: 1rem;
    }
  
    @include medium {
      margin-left: 0.9rem;
    }
  
    @include small {
      margin-left: 0.8rem;
    }
  }

  @include large {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  &:hover {
    color: rgba(black, 1);
    background: rgba(white, 0.6);
    border-color: rgba(white, 0.9);
  }
}

.btn-articlelist {
  display: block;
  margin-bottom: 1rem;

  @include large {
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 1rem;
  }

  @include small {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}

.btn-taglist {
  display: inline-block;
  margin-bottom: 0.4rem;

  + .btn-taglist {
    margin-left: 0.4rem;
  }

  @include large {
    padding: 0 0.7rem;
  }

  @include medium {
    padding: 0.1rem 0.7rem;
  }

  @include small {
    padding: 0.1rem 0.7rem;
  }
}

.btn-articlelist, .btn-taglist {
  --current-gradient-color1: rgb(var(--current-theme-rgb) / 25%);
  --current-gradient-color2: rgb(var(--current-theme-rgb) / 5%);
  color: rgba(black, 1.0);
  background: linear-gradient(0deg, var(--current-gradient-color1), var(--current-gradient-color2));
  border-color: var(--current-gradient-color1);

  &:hover {
    --current-gradient-color1: rgb(var(--current-theme-rgb) / 40%);
    --current-gradient-color2: rgb(var(--current-theme-rgb) / 7%);
  }
}

.page-header {
  color: white;
  text-shadow: 0 0 20px rgba(black, 0.6);
  text-align: center;
  width: 100%;
  position: relative;

  @include large {
    padding: 1.5rem;
  }

  @include medium {
    padding: 1rem;
  }

  @include small {
    padding: 1rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: normal;
    color: var(--headings-text-color);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: var(--headings-text-color);
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9em;
    color: var(--code-text-color);
    background-color: var(--code-bg-color);
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: var(--code-text-color);
    word-wrap: normal;
    background-color: var(--code-bg-color);
    border: solid 1px var(--pre-border-color);
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: var(--code-text-color);
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .article-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: var(--blockquote-text-color);
    border-left: 0.3rem solid var(--blockquote-border-color);

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid var(--table-border-color);
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: var(--hr-border-color);
    border: 0;
  }

  .embed-iframe-16-9 {
    position: relative;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
  }

  .embed-iframe-4-3 {
    position: relative;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
    padding-bottom: 75%;
  }

  .embed-iframe-16-9 iframe,
  .embed-iframe-4-3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px var(--hr-border-color);

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: var(--blockquote-text-color);
}

.autowrap {
  @include large {
    display: none;
  }

  @include medium {
    display: none;
  }

  @include small {
  }
}

// Themes

.particles-js > canvas {
  background: linear-gradient(120deg, var(--theme-particles-color), var(--theme-particles-color2));
  position: absolute;
  inset: 0;
  z-index: -1;
}

.jquery-ripples {
  background: url("/header-ripples.jpg") center center / cover no-repeat var(--theme-ripples-color);
}

.jquery-ripples .btn-nav {
  box-shadow: 0 0 10px rgba(white, 0.5);
}

.jquery-ripples .btn-nav:hover {
  box-shadow: 0 0 20px rgba(white, 1);
}
